html {
	font-size: 100%;
}

body{
	margin: 0px;
	background-color: black;
}
nav{
	background-color: red;
	height: 3rem;
}
form{
	background-color: blue;
}

.carousel{
	height: 250px;
	display: flex;
	align-content: center;
	justify-content: center;

}
#Logo{
	height  : 100%;
}

h2 {
	text-align: center;
	flex: auto;
	color: white;
}

h1 {
	color: white;
}

.fleche{

	vertical-align: middle;
	height: 80%;
}
.img_film{
	margin: 1rem;
	height: 80%;
	display: none;
}
.img_film:hover {
	vertical-align: bottom;
}

.category{
	margin: 0 auto;
	width: 50rem;
}
#main_best_film {
	display: flex;
	background-color: yellow;
	margin: 50px;
	border: width style color;
	border-width: 5px;
	border-style: groove;
	width: 50rem;
}

.img_film:hover {
	opacity: 100;
}