html {
	font-size: 100%;
}

body{
	font-size:; 100%;
	margin: 0px;
	background-color: black;
}

nav{
	background-color: rgb(185,34,34);
	height: 5rem;
}

form{
	background-color: blue;
}

h1 {
	color: white;
}

h2 {
	text-align: center;
	flex: auto;
	color: rgb(171,171,171);
	font-family: cursive;
	letter-spacing: 0.1em;
}
ul
{
  list-style-type: none;
}

#Logo{
	height  : 100%;
}

.all_carrousels {
	width: 80%;
	margin: 0 auto;
	display: flex; 
	flex-direction: column;
}

.category{
	margin: 2rem auto;
	width: 80%;
	
}

.carousel{
	margin: 0 auto;
	height: 12rem;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;

}

.fleche{
	background-color: rgba(255,255,255,0.2);
	border-radius: 0.3rem;
	height: 100%
}

.img_film{
	height: 100%;
}

#title_best_film {
	margin: 2rem;
}
#info_best_film {
	display: grid;
	grid-template-columns: auto auto;
	background-color: rgba(111,111,111,0.3);
	margin: 0 auto;
	position: relative;
	width: 60%;
	color: white;
}
.img_best_film {
	height: 100%;
	float: right;
}

#play_best_film {
margin: 0 auto;
}

#description_best_film {
	flex : auto;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(71,71,71,0.4); 
}


/* Modal Content/Box */
.modal-content {
  font-family: cursive;
  font-size: 1rem;
  background-color: rgb(111,111,111);
  margin: 12% auto; 
  padding: 0.1rem;
  border: 1px solid #888;
  width: 80%;
  height: 50%;
  border-radius: 0.2rem;
  display: grid;
  grid-template-columns: 0.75fr auto 20px;
}

/* The Close Button */
.close {
	top: 0;
	color: #aaa;
	font-weight: bold;
	font-size: 2rem;
}

.close:hover,.close:focus {
 	color: black;
	text-decoration: none;
	cursor: pointer;
}

#modal-content-infos {
	overflow : auto;
	height: 100%;
}

#img_film_modal {
height: 100%;
}


